/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  border: none;
}

/* @media screen and (min-width: 800px) {
  ol,ul {
    padding: 0 2rem;
  }
} */
body {
  color: #333;
}

.container {
  max-width: 1260px;
  padding: 1.5rem;

  .section-heading {
    display: inline-block;
    border-bottom: 1px solid #c6415c;
  }
}