.main-header {
  padding: 1.5rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav {
    display: inline-block;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  ul, ol {
    margin-left: 0;
  }
  .main-header {
    padding: 1.5rem 0;
    display: block;
  
    .nav {
      display: inline-block;
      display: flex;
      align-items: center;
    }
  }
}